/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 35px;
}

.head {
  color: #2d3a35;
}

.span {
  color: #c20a72;
}

.para {
  color: #2d3a35;
}
